<section id="content">
    <app-navbar></app-navbar>
    <app-sidebar (sectionChanged)="onSectionChanged($event)"></app-sidebar>
    
    <main>
      <div *ngIf="selectedSection === 'dashboard'" class="head-title">
				<div class="left">
					<h1>Dashboard</h1>
					
				</div>
				
			</div>

			<ul *ngIf="selectedSection === 'dashboard'" class="box-info">
				<li>
				  <i class='bx bxs-calendar-check'></i>
				  <span class="text">
					<h3>{{ nombreReservations }}</h3>
					<p>Totale des resérvations</p>
				  </span>
				</li>
				<li>
					<i class='bx bxs-calendar-check'></i>
					<span class="text">
					  <h3>{{ nombreReservationsConfirme }}</h3>
					  <p>Resérvations conférme</p>
					</span>
				  </li>
				  <li>
					<i class='bx bxs-calendar-check'></i>
					<span class="text">
					  <h3>{{ nombreReservationsAttentesignuature }}</h3>
					  <p>Resérvations En attente de Signature</p>
					</span>
				  </li>
				<li>
					<i class='bx bxs-calendar-check'></i>
					<span class="text">
					  <h3>{{ nombreReservationsAttentePaiment }}</h3>
					  <p>Resérvations En attente de Paiement</p>
					</span>
				  </li>
				  <li>
					<i class='bx bxs-calendar-check'></i>
					<span class="text">
					  <h3>{{ nombreReservationsAnnulee }}</h3>
					  <p>Resérvations annulée</p>
					</span>
				  </li>
				  <li class="reservation jaune">
					<i class='bx bxs-calendar-check'></i>
					<span class="text">
					  <h3>{{ nombreReservationsEnCours }}</h3>
					  <p>Resérvations En cours</p>
					</span>
				  </li>
				  <li class="reservation verte">
					<i class='bx bxs-calendar-check'></i>
					<span class="text">
					  <h3>{{ nombreReservationsTermine }}</h3>
					  <p>Resérvations Terminée</p>
					</span>
				  </li>
				  <li class="reservation rouge">
					<i class='bx bxs-calendar-check'></i>
					<span class="text">
					  <h3>{{ nombreReservationsLitige }}</h3>
					  <p>Resérvations En litige</p>
					</span>
				  </li>
			  </ul>
			  
			  <div *ngIf="selectedSection === 'detail'">
			        <app-client-detail></app-client-detail>
			  </div>
			
			  <div *ngIf="selectedSection === 'gestionReservations'">
			
			  </div>
			  <div *ngIf="selectedSection === 'gestionPaiements'">
				
			  </div>
		</main>
		
   
    
  </section>
 
