<footer>
  <div class="footer-content">
    <img src="assets/logo.png" alt="Logo" class="footer-logo">
    
    <div class="footer-description">
      <p>LV est une entreprise de location de voitures offrant des véhicules modernes, 
        fiables et adaptés à tous les besoins, avec un service client attentif et des tarifs compétitifs.</p>
    </div>
    
    <!-- Liens vers les réseaux sociaux -->
    <div class="footer-socials">
      <a href="https://www.facebook.com/votrepage" target="_blank" aria-label="Facebook">
        <img src="assets/icons/facebook.png" alt="Facebook" class="social-icon">
      </a>
      <a href="https://www.instagram.com/votrepage" target="_blank" aria-label="Instagram">
        <img src="assets/icons/ins.png" alt="Instagram" class="social-icon">
      </a>
      <a href="https://www.twitter.com/votrepage" target="_blank" aria-label="Twitter">
        <img src="assets/icons/Twitter.png" alt="Twitter" class="social-icon">
      </a>
      <a href="https://www.linkedin.com/votrepage" target="_blank" aria-label="LinkedIn">
        <img src="assets/icons/linkedin.webp" alt="LinkedIn" class="social-icon">
      </a>
    </div>
    
    <div class="copy">
      <p>&copy; 2024. Développé par [Votre Nom].</p>
    </div>
  </div>
</footer>


