<div class="body">
  <section class="home">
    <div class="home-container">
      <h1>Location Voiture</h1>
      <h3>Bienvenue sur notre site</h3>
      <p>Nous sommes une entreprise de location de voitures offrant des véhicules fiables et adaptés à tous les besoins, avec un service rapide, flexible et abordable.</p>
      <a href="#" class="btn">Reserver</a>
    </div>
   
  
    <div class="home-img">
      <div class="rhombus">
       <img src="assets/car.png" alt="car">
      </div>
    </div>
  
    <div class="rhombus2"></div>
  </section>
  
  <br><br>
  
  <app-about></app-about>
  
  <br><br>
  <app-car-list></app-car-list>
  <br><br>
  <app-contact></app-contact>
</div>