<nav class="relative px-4 py-4 flex justify-between items-center bg-white">
  <a class="text-3xl font-bold leading-none h-10 logo-container" [routerLink]="'/accueil'">
    <img src="assets/car.png" alt="Logo" class="logo h-full">
  </a>
  <ul class="hidden absolute top-1/2 left-1/2 transform -translate-y-1/2 -translate-x-1/2 lg:mx-auto lg:flex lg:items-center lg:w-auto lg:space-x-6">
    <li><a class="text-sm text-gray-700 hover:text-blue-600 font-bold" [routerLink]="'/accueil'" [routerLinkActive]="'!text-blue-600'">Home</a></li>
    <li class="text-gray-300">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" class="w-4 h-4 current-fill" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 5v0m0 7v0m0 7v0m0-13a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z" />
      </svg>
    </li>
    <li><a  class="text-sm text-gray-700 hover:text-blue-600 font-bold" [routerLink]="'/about'" [routerLinkActive]="'!text-blue-600'">About Us</a></li>
    <li class="text-gray-300">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" class="w-4 h-4 current-fill" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 5v0m0 7v0m0 7v0m0-13a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z" />
      </svg>
    </li>
    <li><a class="text-sm text-gray-700 hover:text-blue-600 font-bold" [routerLink]="'/reservation'" [routerLinkActive]="'!text-blue-600'">Réservation</a></li>
    <li class="text-gray-300">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" class="w-4 h-4 current-fill" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 5v0m0 7v0m0 7v0m0-13a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z" />
      </svg>
    </li>
    <li><a class="text-sm text-gray-700 hover:text-blue-600 font-bold" [routerLink]="'/conditions'" [routerLinkActive]="'!text-blue-600'">Conditions Générales</a></li>
    <li class="text-gray-300">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" class="w-4 h-4 current-fill" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 5v0m0 7v0m0 7v0m0-13a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z" />
      </svg>
    </li>
    <li><a class="text-sm text-gray-700 hover:text-blue-600 font-bold" [routerLink]="'/contact'" [routerLinkActive]="'!text-blue-600'">Contact</a></li>
  </ul>
  <ng-container *ngIf="!isAuthenticated; else loggedInTemplate">
    <a class="inline-block ml-auto mr-3 py-2 px-6 bg-gray-50 hover:bg-gray-100 text-sm text-gray-900 font-bold  rounded-xl transition duration-200" [routerLink]="'/login'">Login</a>
    <a class="inline-block py-2 px-6 bg-blue-500 hover:bg-blue-600 text-sm text-white font-bold rounded-xl transition duration-200" [routerLink]="'/signup'">Sign up</a>
  </ng-container>
  <ng-template #loggedInTemplate>
    <button class="inline-block ml-auto mr-3 py-2 px-6 bg-gray-50 hover:bg-gray-100 text-sm text-gray-900 font-bold  rounded-xl transition duration-200" (click)="logout()">Logout</button>
    <button class="inline-block py-2 px-6 bg-blue-500 hover:bg-blue-600 text-sm text-white font-bold rounded-xl transition duration-200" (click)="navigateToProfile()">Dashboard</button>
  </ng-template>
</nav>
