<!-- Section About Us -->
<div class="about-us-container">
  <h2 class="about-us-title">About Us</h2>
  <div class="about-us">
    <div class="description">
      <p>
        Notre plateforme de gestion de location de voitures est conçue pour offrir une expérience fluide et accessible à tous.
         Que vous soyez un particulier à la recherche d'une solution de transport pratique ou une entreprise souhaitant optimiser ses déplacements, 
         nous mettons à votre disposition une interface intuitive, 
         une flotte variée de véhicules et des outils performants pour gérer vos réservations, paiements et rapports en toute simplicité.
         Notre priorité est de vous offrir un service fiable,
         rapide et adapté à vos besoins, avec un accompagnement client dédié à chaque étape.
      </p>
      <div class="valeurs">
        <h2>Nos valeurs</h2>
        <ul>
            <li>
                <strong>Fiabilité :</strong> Des services sécurisés et performants.
            </li>
            <li>
                <strong>Innovation :</strong> Une plateforme en constante évolution pour répondre à vos besoins.
            </li>
            <li>
                <strong>Satisfaction client :</strong> Votre confort est notre priorité.
            </li>
            <li>
                <strong>Écologie :</strong> Nous nous engageons à promouvoir des solutions de transport respectueuses de l’environnement.
            </li>
        </ul>
    </div>
    
      <div class="location">
        <p><i class="fa fa-map-marker"></i> <strong>Khouribga, rue Mohammed V, Maroc</strong></p>
      </div>
      <div class="working-hours">
        <p><i class="fa fa-clock-o"></i> <strong> Lundi à Samedi, 9h - 18h</strong></p>
      </div>
    </div>
    <div class="moving-image">
      <img id="movingImage" src="assets/image3.jpg" alt="Car Image" />
    </div>
  </div>
</div>

