<section id="content">
    <app-navbar></app-navbar>
    <app-sidebar (sectionChanged)="onSectionChanged($event)"></app-sidebar>
    
    <main>
      <div *ngIf="selectedSection === 'dashboard'" class="head-title">
				<div class="left">
					<h1>Dashboard</h1>
					<ul class="breadcrumb">
						<li>
							<a href="#">Dashboard</a>
						</li>
						<li><i class='bx bx-chevron-right' ></i></li>
						<li>
							<a class="active" href="#">Home</a>
						</li>
					</ul>
				</div>
				<a href="#" class="btn-download">
					<i class='bx bxs-cloud-download' ></i>
					<span class="text">Download PDF</span>
				</a>
			</div>

			<ul *ngIf="selectedSection === 'dashboard'" class="box-info">
				<li>
				  <i class='bx bxs-calendar-check'></i>
				  <span class="text">
					<h3>{{ nombreReservations }}</h3>
					<p>Nombre des resérvations</p>
				  </span>
				</li>
				<li>
				  <i class='bx bxs-group'></i>
				  <span class="text">
					<h3>{{ nombreClients }}</h3>
					<p>Nombre des clients</p>
				  </span>
				</li>
				<li>
				  <i class='bx bxs-dollar-circle'></i>
				  <span class="text">
					<h3>{{ chaiffreAffaire }} MAD</h3>
					<p>Chiffre d'affaire</p>
				  </span>
				</li>
			  </ul>
			  
			  <div *ngIf="selectedSection === 'detail'">
				<app-admin-detail></app-admin-detail><!-- Composant  -->
			  </div>
			  <div *ngIf="selectedSection === 'gestionClients'">
				<app-list-clients></app-list-clients><!-- Composant de gestion des clients -->
			  </div>
			  <div *ngIf="selectedSection === 'gestionCars'">
				<app-list-cars></app-list-cars><!-- Composant de gestion des voitures -->
			  </div>
			  <div *ngIf="selectedSection === 'gestionReservations'">
				<app-list-reservations></app-list-reservations><!-- Composant de gestion des reservations -->
			  </div>
			  <div *ngIf="selectedSection === 'gestionPaiements'">
				<app-list-paiement></app-list-paiement><!-- Composant de gestion des paiements -->
			  </div>
		</main>
		
   
    
  </section>
 
  