<div style="width: 100vw; height: 100vh; position: absolute; top: 0; left: 0; background-color: rgba(0, 0, 0, 0.9); z-index: 9999; overflow: hidden;" *ngIf="loading | async">
    <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); background-color: #fff; padding: 20px; border-radius: 5px;">
        <div class="spinner-border text-primary" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</div>

<app-header *ngIf="showLayout" ></app-header>

<main>
    <router-outlet></router-outlet>
</main>

<app-footer *ngIf="showLayout"></app-footer>

  
